<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <script crossorigin src="https://unpkg.com/react@18.3.1/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-router-dom@6.29.0/dist/umd/react-router-dom.development.js"></script> -->
    <% if (typeof vendorFile !== 'undefined') { %>
      <script src="<%= vendorFile %>" crossorigin="anonymous" fetchpriority="high"></script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <script>
      if ('serviceWorker' in navigator) {
        // 立即注销所有 Service Worker
        navigator.serviceWorker.getRegistrations().then(function(registrations) {
          registrations.forEach(reg => {
            reg.unregister();
            console.log('Service Worker 已注销');
          });
        });
        
        // 清除所有缓存存储
        if ('caches' in window) {
          caches.keys().then(function(cacheNames) {
            cacheNames.forEach(cacheName => {
              caches.delete(cacheName);
              console.log(`缓存 ${cacheName} 已删除`);
            });
          });
        }
        
        // 清除 IndexedDB
        if (window.indexedDB) {
          const deleteRequest = indexedDB.deleteDatabase('workbox-precache');
          deleteRequest.onsuccess = () => console.log('IndexedDB 已清除');
        }
      }
    </script>
  </body>
</html>
